.container {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.bkg-color {
  background-color: #485461;
  background-image: linear-gradient(135deg, #485461 -50%, #101418 74%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.effects {
  transition: 0.3s;
  cursor: pointer;
}
.effects:focus {
  cursor: pointer;
}
.effects:hover {
  transform: scale(1.2);
}
.effects:active {
  opacity: 0.7;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}
.navbar__menu {
  max-width: 72rem;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navbar__navigation {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.navbar__BandB {
  display: flex;
  align-items: center;
}
.navbar__basket {
  margin-right: 2rem;
}
.navbar__burger {
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}
.navbar__bar:before, .navbar__bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}
.navbar__bar:before {
  transform: translateY(-9px);
}
.navbar__bar:after {
  transform: translateY(9px);
}

.container.active .navbar__bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .navbar__bar:before {
  transform: translateY(0) rotate(45deg);
  background-color: #f0314b;
}

.container.active .navbar__bar:after {
  transform: translateY(0) rotate(-45deg);
  background-color: #f0314b;
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }
  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}
.brand {
  max-width: 40rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
  margin-top: 800px;
}

.brand__title {
  color: white;
  font-size: revert;
}

.brand_subtitle-pink {
  color: #f0314b;
  font-size: -webkit-xxx-large;
}

.slide-top {
  -webkit-animation: slide-top 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 39%, rgba(43, 51, 59, 0.8) 96%) center center/100% 100vh no-repeat, url("/images/index/brand.jpg") no-repeat center/cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(32, 38, 43, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.25s ease-out;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}
.links a:hover {
  color: #f0314b;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: rgba(163, 157, 157, 0.404);
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }
  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}
.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }
  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}
.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 39%, rgba(43, 51, 59, 0.8) 96%) center center/100% 100vh no-repeat, url() no-repeat center/cover;
  position: relative;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  width: 1150px;
  display: block;
  box-sizing: border-box;
}
.product__info {
  padding-bottom: 1rem;
}
.product__title {
  color: #eee;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
}
.product__text {
  color: #999999;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.aside {
  width: 250px;
  height: 650px;
  border-right: 0.5px solid #6f7a8b;
  display: block;
}
.aside__title {
  color: rgb(49, 240, 111);
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}
.aside__list {
  color: #eee;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  transition: 0.25s ease-out;
  font-family: "Times New Roman", Times, serif;
}
.aside__list:hover {
  color: #f0314b;
  cursor: pointer;
}

.focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 17rem;
  height: 21rem;
  margin: 0.7rem;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 1rem 1.5rem 0.6rem;
  overflow: hidden;
  transition: 0.5s ease-out;
}
.card:hover {
  border: 0.1rem solid #f0314b;
  transform: scale(1.05);
}
.card__content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  color: #999999;
  transition-delay: 0.2s;
  margin-top: 3rem;
}
.card__title, .card__body, .card__footer {
  transform: translateY(8rem);
  transition: 0.5s ease-in-out;
}
.card__body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-delay: 0.2s;
}
.card:hover .card__img, .card:hover .card__title, .card:hover .card__body, .card:hover .card__footer {
  transform: translateY(0);
}
.card__price {
  font: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(49, 240, 111);
}
.card__footer {
  transition-delay: 0.3s;
  margin-bottom: 0.5rem;
}

.rating-value {
  color: #eee;
}

.star {
  font-size: 1.4rem;
  color: gold;
}

.btn {
  padding: 1rem 2rem;
  background-color: unset;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: #eee;
  cursor: pointer;
}

.btn-border {
  border: 0.1rem solid #f0314b;
}

.btn-success {
  background-color: #f0314b;
}