.container {
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	transform-style: preserve-3d;

}

.bkg-color {
	background-color: #485461;
	// background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
	background-image: linear-gradient(135deg, #485461 -50%, #101418 74%);
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}



.effects {
	transition: 0.3s;
	cursor: pointer;

	&:focus {
		cursor: pointer;
	}

	&:hover {
		transform: scale(1.2);
	}

	&:active {
		opacity: 0.7;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
			0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
			0 -1px 0 rgba(255, 255, 255, 0.1);
	}
}

@font-face {
	font-family: 'Raleway-Regular';
	font-style: normal;
	src: url(../fonts/raleway/raleway-v22-cyrillic-regular.woff2);
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/roboto/roboto-v29-cyrillic-300.woff2);
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/roboto/roboto-v29-cyrillic-500.woff2);
}

@font-face {
	font-family: 'Tangerine';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/tangerine-v17-latin/tangerine-v17-latin-regular.woff2);
}

@font-face {
	font-family: 'Tangerine';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/tangerine-v17-latin/tangerine-v17-latin-700.woff2);
}
