//===== Переменные ----------------------------

$accent: #f0314b; // акцентный цвет
$text: white; // текстовый цвет
$dark: #202328; // темный цвет
$deep: #171a1a; // глубокий цвет
$dark-header: #6f7a8b; // цвет заголовка
$dark-div: #2d3038; // цвет блока
$light-bg: #fafafa; // цвет фона
$light-disabled: #e4e6e8; // цвет
$light-div: #e7e7e8; // цвет
$middle-gray: rgba(111, 122, 139, 0.75); // средне-серый цвет
$text-light: #999999;


//---------- Текст --------------------------------

$regular-text: 16px; // обычный текст
$small-text: 14px; // обычный текст
$lineheight: 1.75; // высота шрифта
$userfont: awe; // пользовательский шрифт

//-------------------------------------------------

$radius: 5px;
$radius-style: 0 5px;

//---------- Анимация------------------------------

$transition: .25s ease-out;