.menu {
	width: 200px;
	height: 650px;
	border-right: .1rem solid $dark-header;

	&__item {
		padding-bottom: 1rem;
		font-family: 'Raleway-Regular';
		font-size: x-large;
	}
	
	&__navigation {
		color: white;
		font-size: 1.2rem;
		text-decoration: none;
		border-bottom: .1rem solid whitesmoke;

		&:hover {
			color: $accent;
			cursor: pointer;
		}
	}

	&__items {
		color: white;
		font-size: 1.2rem;
		font-family: 'Raleway-Regular';
		font-size: x-large;
		text-decoration: none;

		&:hover {
			color: $accent;
			cursor: pointer;
		}
	}

	&__list {
		color: gray;
		padding: 0.7rem 1rem;
		transition: $transition;
		font-family: 'Raleway-Regular';
		font-size: small;
		font-style: italic;
	}
}


.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand-fwd {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes focus-in-expand-fwd {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}