.product {
	width: 1200px;
	display: block;
	margin-top: -4rem;
	box-sizing: border-box;

	&__info {
		padding-bottom: 1rem;
		padding-right: 10rem;
	}

	&__title {
		color: $text;
		text-align: center;
		font-size: 2.5rem;
		font-family: 'Tangerine';
	}

	&__text {
		padding-top: 0.5rem;
		color: $text-light;
		text-align: center;
		font-family: 'Raleway-Regular';
		font-variant: all-petite-caps;
	}
}