.brand {
    max-width: 40rem;
    text-align: center;
    color: #fff;
    padding: 0 2rem;
    margin-top: 800px;
}

.brand__title {
	color: white;
	font-size: revert;
}

.brand_subtitle-pink {
	color: $accent;
	font-size: -webkit-xxx-large
}